<div class="for_info_only" style="text-align: center">
    <img src="{{MEDIA}}title.png" style="max-height: 350px">
</div>
<p>
    Long numbers can be made to look nicer, so let’s write some code to do just that.
</p>

<p>
    You should write a function for converting a <b>number</b> to string using several rules.
</p>
<p>
    First of all, you will need to cut the number with a given base (<b>base</b> argument; default 1000).
</p>
<p>
    The value is a float number with decimal after the point (<b>decimals</b> argument; default 0).
    For the value, use the rounding towards zero rule (5.6 ⇒ 5, -5.6 ⇒ -5, to integer part) if the decimal = 0,
    otherwise use the standard rounding procedure.
</p>
<p>
    If the number of decimals is greater than the current number of digits after dot, trail value with zeroes.
</p>
<p>
    The number should be a value with letters designating the power.
    You will be given a list of power designations (<b>powers</b> argument; default <b>["", "k", "M", "G", "T", "P", "E", "Z", "Y"]</b> ). If you don’t have enough powers - stay at the maximum.
</p>    
<p>
    If you are given suffix (<b>suffix</b> argument; default <b>""</b>), then you must append it.
</p>    
<p>And zero is always zero without powers, but with suffix.</p>
<p>
    Let's look at examples. It will be simpler.
</p>
<table>
    <tr>
        <th>Number</th><th>Result</th><th>Explanation</th>
    </tr>
    <tr>
        <td>102</td><td>"102"</td><td>the base is default 1000 and 102 is lower this base</td>
    </tr>
    <tr>
        <td>10240</td><td>"10k"</td><td>the base is default 1000 and rounding down</td>
    </tr>
    <tr>
        <td>12341234, decimals=1</td><td>"12.3M"</td><td>one digit after the dot</td>
    </tr>
    <tr>
        <td>12000000, decimals=3</td><td>"12.000M"</td><td>trailing zeros</td>
    </tr>
    <tr>
        <td>12461, decimals=1</td><td>"12.5k"</td><td>standard rounding</td>
    </tr>
    <tr>
        <td>1024000000, base=1024, suffix="iB"</td><td>"976MiB"</td><td>the different base and the suffix</td>
    </tr>
    <tr>
        <td>-150, base=100, powers=["", "d", "D"]</td><td>"-1d"</td><td>the negative number and rounding towards zero</td>
    </tr>
    <tr>
        <td>-155, base=100, decimals=1, powers=["", "d", "D"]</td><td>"-1.6d"</td><td>the negative number and standard rounding</td>
    </tr>
    <tr>
        <td>255000000000, powers=["", "k", "M"]</td><td>"255000M"</td><td>there is not enough powers</td>
    </tr>
</table>

<p>
    <strong>Input:</strong> <b>number, base, decimals</b> as integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>,
    <b>suffix</b> as a string <span translate="no">(str{% if is_js %}ing{% endif %})</span>, <b>powers</b> as <span translate="repeat">{% if is_js %}array{% else %}list{% endif %}</span> of strings <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> The converted number as a string <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre> 
</div>


<p>
    <strong>How it is used:</strong>
    <i>
        In the physics and IT we have a lot of various numbers.
    Sometimes we need to make them more simpler and easier to read. When you talk about gigabytes sometimes you don’t need to know the exact number bytes or kilobytes.
    </i>
</p>
<p>
    <strong>Preconditions:</strong>
    <ul>
        <li><i>1 &lt; base &le; 10<sup>32</sup></i></li>
        <li><i>-10<sup>32</sup> &lt; number &le; 10<sup>32</sup></i></li>
        <li><i>0 &le; decimals &le; 15</i></li>
        <li><i>0 &lt; len(powers) &le; 32</i></li>
    </ul>
</p>
